/* .navbar {
    background-color: #343a40;
  } */
  /* .navbar-brand img {
    height: 36px;
  } */
  /* .navbar {
    background-color: #343a40;
  } */
  /* .navbar-brand img {
    height: 36px;
  } */
  /* .nav-link {
    color: #ffffff !important;
    font-weight: 500;
    padding: 0.75rem 1.25rem;
  }
  .nav-link:hover {
    color: #d4d4d4 !important;
  } */

  /* .dropdown-menu {
    background-color: #343a40;
  } */
  /* .dropdown-item {
    color: #ffffff;
  } */
  /* .dropdown-item:hover {
    background-color: #495057;
  } */


  
  /* .nav-link:hover {
    color: #d4d4d4 !important;
  }
  .dropdown-menu {
    background-color: #343a40;
  }
  .dropdown-item {
    color: #ffffff;
  } */
  
  .nav-link.act {
    font-weight: bold;
    color: #fff !important;
  }
  

  